@primary: #222;

.box {
    border-radius: 5px;
    border: 1px solid @primary;
    padding: 5px;
}

/* general styles */
body {
  font-family: Verdana, arial, sans-serif;
}

body, td {
  color: @primary;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.3em;
}

/* layout */

#logo {
  padding: 5px;
  display: block;
}

nav {
    ul li {
      float: left;
      list-style-type: none;
    }
}

#menu {
    .box;
    display: table;
    width: 100%;
    padding: 0;
    margin: 5px 0;
    li {
      display: table-cell;
        a {
          padding: 3px 10px;
        }
    }
}

#main, #sidebar {
    .box;
}

footer {
    text-align: center;
    nav {
        .box;
        a {
          border-left: 1px solid @primary;
          padding: 0 10px;
          line-height: 100%;
            &.first-child {
              border-left: none;
            }
        }
    }
}
