/* general styles */
body {
  font-family: Verdana, arial, sans-serif;
  background: #889;
}

body, td {
  color: #222;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.3em;
}

a {
  color: #000;
}

a:hover {
  color: #222;
}

.clear {
  clear: both;
}

/* layout */

#wrap {
  background: #fff;
}

header {
  background: #ffffee;
}

#logo {
  border: 1px solid #CCCCCC;
  padding: 5px;
  display: block;
}

nav {
  background: #eeffff;
}

nav ul li {
  float: left;
  list-style-type: none;
}

#menu {
  border: 1px solid #CCCCCC;
  display: table;
  width: 100%;
  padding: 0;
  margin: 5px 0;
}

#menu li {
  display: table-cell;
}

#menu li a {
  padding: 3px 10px;
}

#container {
  background: #eeeeff;
}

#main {
  border: 1px solid #CCCCCC;
  padding: 5px;
  background: #eeffee;
}

#sidebar {
  border: 1px solid #CCCCCC;
  padding: 5px;
  background: #eeeeff;
}

footer {
  background: #fff5f5;
  text-align: center;
}

footer nav {
  border: 1px solid #CCCCCC;
  padding: 5px;
  background: #eeffee;
}

footer nav a {
  border-left: 1px solid #CCCCCC;
  padding: 0 10px;
  line-height: 100%;
}

footer nav a.first-child {
  border-left: none;
}
